@mixin clearfix {
  zoom: 1;
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin antialias {
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// responsive
// ----------

@mixin respond-to($media) {
 @media only screen and ($media) { @content; }
}
@mixin min-width($media) {
 @media only screen and (min-width: $media) { @content; }
}
@mixin max-width($media) {
 @media only screen and (max-width: $media) { @content; }
}
@mixin max-height($media) {
 @media only screen and (max-height: $media) { @content; }
}
@mixin min-height($media) {
 @media only screen and (min-height: $media) { @content; }
}