@charset 'utf-8';

@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px; // 0.1rem = 10px
}

body {
  font-size: $font-size--body;
}

body,
button,
input,
textarea {
  font-family: $font--sans;
}